<h2>Light Control</h2>
<p>Plug-ins can be installed to control the light. As an example, <b>Light Control - TPLink</b> can be installed from the plugin manager.</p>
<br/>
<br/>
<p>More info can be found on the <a href="https://github.com/arbeaman/OctoPrint-LightControl" target="_blank">plugin homepage</a>.</p>

