<h2>Light Control</h2>
<p>Starting with Light Control version 0.9.0 the TPLink connection to the light does notyet exist. Once it does you can install <b>Light Control - TPLink</b> from the plugin manager.</p>
<br/>
<br/>
<p>More info can be found once the plugin is created</p>
